@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,800');

html {
    /* margin: 0;
    padding: 0; */
}
body {
    background-image: url("../img/1.png");
    background-repeat: repeat;
    /*display: grid;
    place-items: center;*/
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#colorChanger {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 235, 205, 0.5);
}

main {
    background-color: #fff;
    display: grid;
    height: 40vh;
    margin: 20vmin;
    border-radius: 4px;
    height: auto;
    padding: 40px;
    overflow: auto;
    place-items: center;
    width: 60vw;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
section blockquote{
    grid-column-start: span 2 ;
}
cite {
    float: right;
}

#quote {
  font-weight: 800;
  font-size: 2rem;
}

#author {
  font-weight: 600;
  font-size: 1.5rem;
}

footer {
  font-weight: 500;
  font-size: 1rem;
}

button {
  display: inline-block;
  /* height: 38px; */
  padding: 0 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #1da1f2;
  color: white;
}
